In [196]:
import locale

locale.setlocale(locale.LC_ALL, 'en_US.UTF-8')

print(locale.localeconv())

{'int_curr_symbol': 'USD', 'currency_symbol': '$', 'mon_decimal_point': '.', 'mon_thousands_sep': ',', 'mon_grouping': [3, 0], 'positive_sign': '', 'negative_sign': '-', 'int_frac_digits': 2, 'frac_digits': 2, 'p_cs_precedes': 1, 'p_sep_by_space': 0, 'n_cs_precedes': 1, 'n_sep_by_space': 0, 'p_sign_posn': 3, 'n_sign_posn': 0, 'decimal_point': '.', 'thousands_sep': ',', 'grouping': [3, 0]}

# Carregando a Base de Dados

In [198]:
import pandas as pd

In [199]:
path = 'Data/Apple 2009-2024.csv'
df = pd.read_csv(path)
df.head()

,year,EBITDA (millions),Revenue (millions),Gross Profit (millions),Op Income (millions),Net Income (millions),EPS,Shares Outstanding,Year Close Price,Total Assets (millions),Cash on Hand (millions),Long Term Debt (millions),Total Liabilities (millions),Gross Margin,PE ratio,Employees
0,2024,"$134,661","$391,035","$180,683","$123,216","$93,736",$6.08,"15,408",243.0400,"$364,980","$65,171","$85,750","$308,030",46.21%,39.97,"164,000"
1,2023,"$125,820","$383,285","$169,148","$114,301","$96,995",$6.13,"15,813",191.5919,"$352,583","$61,555","$95,281","$290,437",45.03%,29.84,"161,000"
2,2022,"$130,541","$394,328","$170,782","$119,437","$99,803",$6.11,"16,326",128.5816,"$352,755","$48,304","$98,959","$302,083",43.06%,21.83,"164,000"
3,2021,"$120,233","$365,817","$152,836","$108,949","$94,680",$5.61,"16,865",174.7132,"$351,002","$62,639","$109,106","$287,912",43.02%,28.93,"154,000"
4,2020,"$77,344","$274,515","$104,956","$66,288","$57,411",$3.28,"17,528",129.7556,"$323,888","$90,943","$98,667","$258,549",38.78%,35.14,"147,000"

# Tratamento de dados

## Ajustando Tipos de Dados

In [245]:
df.dtypes

year                              int64
EBITDA (millions)                 int64
Revenue (millions)                int64
Gross Profit (millions)           int64
Op Income (millions)              int64
Net Income (millions)             int64
EPS                              object
Shares Outstanding               object
Year Close Price                float64
Total Assets (millions)          object
Cash on Hand (millions)          object
Long Term Debt (millions)        object
Total Liabilities (millions)     object
Gross Margin                     object
PE ratio                        float64
Employees                        object
dtype: object

In [285]:
df= df.replace({'$': '', ',': '', '%' : ''}, regex=True)

colunas_para_ajustar_tipos  = ['EPS', 
                               'Shares Outstanding', 
                               'Total Assets (millions)', 
                               'Cash on Hand (millions)', 
                               'Long Term Debt (millions)', 
                               'Total Liabilities (millions)', 
                               'Gross Margin', 
                               'Employees']
try:
    for coluna in colunas_para_ajustar_tipos:
        df[coluna] = pd.to_numeric(df[coluna], errors='coerce')
        

except Exception as e:
    print(e)
del colunas_para_ajustar_tipos

df.dtypes

year                              int64
EBITDA (millions)                 int64
Revenue (millions)                int64
Gross Profit (millions)           int64
Op Income (millions)              int64
Net Income (millions)             int64
EPS                             float64
Shares Outstanding                int64
Year Close Price                float64
Total Assets (millions)           int64
Cash on Hand (millions)           int64
Long Term Debt (millions)         int64
Total Liabilities (millions)      int64
Gross Margin                    float64
PE ratio                        float64
Employees                         int64
dtype: object

In [293]:
colunas_traduzidas = {
    'year': 'ano',
    'EBITDA (millions)': 'EBITDA (milhões)',
    'Revenue (millions)': 'Receita (milhões)',
    'Gross Profit (millions)': 'Lucro Bruto (milhões)',
    'Op Income (millions)': 'Lucro Operacional (milhões)',
    'Net Income (millions)': 'Lucro Líquido (milhões)',
    'EPS': 'LPA (Lucro por Ação)',
    'Shares Outstanding': 'Ações Em Circulação',
    'Year Close Price': 'Preço de Fechamento do Ano',
    'Total Assets (millions)': 'Ativos Totais (milhões)',
    'Cash on Hand (millions)': 'Caixa (milhões)',
    'Long Term Debt (millions)': 'Dívida de Longo Prazo (milhões)',
    'Total Liabilities (millions)': 'Passivos Totais (milhões)',
    'Gross Margin': 'Margem Bruta (%)',
    'PE ratio': 'Índice P/L',
    'Employees': 'Empregados'
}

,year,EBITDA (millions),Revenue (millions),Gross Profit (millions),Op Income (millions),Net Income (millions),EPS,Shares Outstanding,Year Close Price,Total Assets (millions),Cash on Hand (millions),Long Term Debt (millions),Total Liabilities (millions),Gross Margin,PE ratio,Employees
0,2024,134661,391035,180683,123216,93736,6.08,15408,243.0400,364980,65171,85750,308030,46.21,39.97,164000
1,2023,125820,383285,169148,114301,96995,6.13,15813,191.5919,352583,61555,95281,290437,45.03,29.84,161000
2,2022,130541,394328,170782,119437,99803,6.11,16326,128.5816,352755,48304,98959,302083,43.06,21.83,164000
3,2021,120233,365817,152836,108949,94680,5.61,16865,174.7132,351002,62639,109106,287912,43.02,28.93,154000
4,2020,77344,274515,104956,66288,57411,3.28,17528,129.7556,323888,90943,98667,258549,38.78,35.14,147000

# Analise Exploratoria dos Dados